<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Viewers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <ul>
      <li><a href="./mirador3.html">Mirador 3</a></li>
      <li><a href="./mirador2.html">Mirador 2</a></li>
    </ul>
  </body>
</html>
