<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Simple Viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      #viewer {
        width: 100%;
        height: 100%;
        position: fixed;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/mirador@2.7.2/dist/css/mirador-combined.min.css"> 
   <script src="https://unpkg.com/mirador@2.7.2/dist/mirador.js"></script>
  </head>
  <body>
    <div id="viewer"></div>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        Mirador({
          id: "viewer",
          data: [
            <% keys.each_with_index do |key, index| %>
            {
              manifestUri: '<%= base_url %>/<%= key %>/basic.json'
            }
            <% if index != keys.length - 1 %>
            ,
            <% end %>
            <% end %>
          ],
          windowObjects: [{
            loadedManifest: (new URL(document.location)).searchParams.get('manifestId') || '<%= base_url %>/001bj/basic.json',
            viewType: "BookView",
            annotationLayer: true,
            annotationCreation: true,
            annotationState: 'annoOnCreateOn'
          }],
          annotationEndpoint: {
            name: 'Simple Annotation Store Endpoint',
            module: 'SimpleASEndpoint',
            options: {
              url: 'http://localhost:8888/annotation',
              storeId: 'comparison',
              APIKey: 'user_auth'
            }
         },
         "sidePanelOptions" : {
           "tocTabAvailable": true,
           "layersTabAvailable": true,
           "searchTabAvailable": true,
           "annotations" : true
         }
        });
      });
    </script>
  </body>
</html>
