<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Mirador v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/mirador@3.0.0-rc.6/dist/mirador.min.js"></script>
  </head>
  <body>
    <div id="viewer"></div>
    <script>
      Mirador.viewer({
        id: 'viewer',
        manifests: {
          <% keys.each_with_index do |key, index| %>
          '<%= base_url %>/<%= key %>/basic.json': {}
          <% if index != keys.length - 1 %>
          ,
          <% end %>
          <% end %>
        },
        windows: [{
          manifestId: (new URL(document.location)).searchParams.get('manifestId') || '<%= base_url %>/001bj/basic.json',
          thumbnailNavigationPosition: 'far-bottom'
        }]
      });
    </script>
  </body>
</html>
